#carousel{
    height: 80%;
    width: 100%;
}

#innercarousel{
    height: 100%;
    width: 100%;
    margin: 0% !important;
}

#myCarousel{
    height: 60%;
    margin-top: 2%;
    background-color: rgb(1, 56, 1);

}

#myCarousel img{
    height: 100%;
    width: 100%;
    margin: auto;
}

#carouselcontainer{
    padding: 0% !important;
}

#imagecontainer{
    width: 100%;
    padding: 0% !important;
}

#interesttext{
    margin-top: 2%;
    text-align: center;
    width: 100%;
    height: 40%; 
}

#camping{
    border: 1px darkslategray solid;
    border-radius: 5%;
    width: 100%;
    background-color: rgb(1, 56, 1);
    color: white;
}

#cooking{
    border: 1px darkslategray solid;
    border-radius: 5%;
    width: 100%;
    background-color: rgb(1, 56, 1);
    color: white;
}

#fishing{
    border: 1px darkslategray solid;
    border-radius: 5%;
    width: 100%;
    background-color: rgb(1, 56, 1);
    color: white;
}